.header{
  display: flex;
  color: grey;
  width: 100%;
  background-color: #474e5d;
  justify-content: space-between;
  align-items: center;
}
.page-links{
  display: flex;
  color: 	#B4AC97;
}
#image{
}
#what{
  padding-left: 15px;
}
#where{
  padding-left: 15px;
  padding-right: 50px;
}
#who{

}
